<html>
    <head>
        <title>ANF</title>
    </head>
    <body>
        <h1>Awesome News Filter</h1>
        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.nickname }}!</h2>

            {% for article in articles %}
            <div>
                <img src="{{ article[1] }}" alt="Mountain View" style="width:304px;height:228px;">
                <h3>{{ article[0] }}</h3>
                <p>{{ article[3] }}</p>
                <p>Read More: <a href="{{ article[2] }}">HERE</a></p>
            </div>
            {% endfor %}

            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            <h2>Please Login to Facebook</h2>
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
        {% endif %}
    </body>
</html>